@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3e7d9;
    --foreground: #000000;
  }

  body {
    @apply text-black;
    background-color: #f3e7d9;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-md;
  }

  .glass-dark {
    @apply bg-black/5 backdrop-blur-md;
  }
}
